extends layout
block content
  div(data-role='header',class='ui-header ui-bar-b')
    h1 #{title} Admin
  div(data-role='content',class='ui-content')
    p(style="color: #f00;") #{message}
    p Please login
    form(action="/admin", method="post")
      label(for="field-u") Username:
      input(type="text", id="field-u", name="username")
      label(for="field-p") Password:
      input(type="password", id="field-p", name="password")
      input(type="submit", value="Submit")