extends layout
block content
  div(data-role='header',class='ui-header ui-bar-b')
    h1= title
  div(data-role='content',class='ui-content')
    p Welcome to #{title}
    p Can I have your e-mail address, please?
    p
      em It'll be kept just between you and us!</em>
    form(action="/askme", method="post")
      input(type="text", name="email", placeholder="E-mail address")
      input(type="submit", value="Submit")
